<div class="container">
    <div class="row">
        <div class="col category text-center">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Grocery</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/22fddf3c7da4c4f4.png?q=100" alt="">
            <div>Mobile</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Fashin</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Electronics</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Furniture</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Appliances</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Travel</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Bauty & Toys</div>
        </div>
        <div class="col category">
            <img src="https://rukminim1.flixcart.com/flap/72/72/image/29327f40e9c4d26b.png?q=100" alt="">
            <div>Two Wheeler</div>
        </div>
    </div>
</div>